<form action="/sliderimages" method="GET">
    <h2>Slider Images Homepage</h2>
    <a class="btn-submit2" href="/sliderimages/new">Add new Slider</a>
    <div>
        <br>
    </div>
    
</form>
<br>


