<form  action="/sliderimages" enctype="multipart/form-data" method="POST">
    <h2>Add new slider images</h2>
    <br>
    <%- include('_form_fields') %> 
    <br>
    <button class="btn-submit" type="submit">Create</button>
    <a class="btn-cancel" href="/sliderimages">Cancel</a>
</form>