<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Меню адміністрування сайту</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-nav">
          <div class="navbar-nav" id="navigation-bar">
            <li><a class="nav-link" href="/osbb"><span data-height="20" class="iconify" data-icon="mdi:home-modern" data-inline="false"></span>ОСББ</a></li>
            <li><a class="nav-link" href="/apartments"><span data-height="20" class="iconify" data-icon="mdi:home" data-inline="false"></span>Квартири</a></li>
            <li><a class="nav-link" href="/residents"><span data-height="20" class="iconify" data-icon="mdi:account-group" data-inline="false"></span>Мешканці</a></li>
            <li><a class="nav-link" href="/tariffsAndservices"><span data-height="20" class="iconify" data-icon="ic:round-miscellaneous-services" data-inline="false"></span>Тарифи та послуги</a></li>
            <li><a class="nav-link" href="/news"><span data-height="20" class="iconify" data-icon="mdi:newspaper" data-inline="false"></span>Новини</a></li>
            <li><a class="nav-link" href="/contacts"><span data-height="20" class="iconify" data-icon="mdi:contacts" data-inline="false"></span>Контакти</a></li>
            <li><a class="nav-link" href="/announcements"><span data-height="20" class="iconify" data-icon="ic:baseline-announcement" data-inline="false"></span>Оголошення</a></li>
            <li><a class="nav-link" href="/poll"><span data-height="20" class="iconify" data-icon="ri:chat-poll-fill" data-inline="false"></span>Опитування</a></li>
          </div>
        </div>
      </nav>
      
</header> -->
<header>
  <nav class="main-menu">



    <div>
      <a class="logo" href="/admin">
      </a>
    </div>
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">

      <ul>

        <li>
          <a href="/osbb">
            <i class="fa fa-building fa-lg"></i>
            <span class="nav-text">ОСББ</span>
          </a>
        </li>

        <li>
          <a href="/apartments">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text">Квартири</span>
          </a>
        </li>


        <li>
          <a href="/residents">
            <i class="fa fa-users fa-lg"></i>
            <span class="nav-text">Мешканці</span>
          </a>
        </li>

        <li>
          <a href="/tariffsAndservices">
            <i class="fa fa-plus-circle fa-lg"></i>
            <span class="nav-text">Тарифи та послуги</span>
          </a>
        </li>

        <li>
          <a href="/news">
            <i class="fa fa-newspaper-o fa-lg"></i>
            <span class="nav-text">Новини</span>
          </a>
        </li>


        <li>
          <a href="/contacts">
            <i class="fa fa-comments-o fa-lg"></i>
            <span class="nav-text">Контакти</span>
          </a>
        </li>

        <li>
          <a href="/announcements">
            <i class="fa fa-bullhorn fa-lg"></i>
            <span class="nav-text">Оголошення</span>
          </a>
        </li>

        <li>
          <a href="/poll">
            <i class="fa fa-check-square-o fa-lg"></i>
            <span class="nav-text">Опитування</span>
          </a>
        </li>

      </ul>
  </nav>
</header>