<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">My OSBB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li><a class="nav-link" href="/osbb">ОСББ</a></li>
            <li><a class="nav-link" href="/residents">Мешканці</a></li>
            <li><a class="nav-link" href="/tariffsAndservices">Тарифи та послуги</a></li>
            <li><a class="nav-link" href="/news">Новини</a></li>
            <li><a class="nav-link" href="/contacts">Контакти</a></li>
            <li><a class="nav-link" href="/announcements">Оголошення</a></li>
            <li><a class="nav-link" href="/poll">Опитування</a></li>
          </div>
        </div>
      </nav>
</header>