<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Меню адміністрування сайту</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li><a class="nav-link" href="/osbb"><span data-height="20" class="iconify" data-icon="mdi:home-modern" data-inline="false"></span>ОСББ</a></li>
            <li><a class="nav-link" href="/apartments"><span data-height="20" class="iconify" data-icon="mdi:home" data-inline="false"></span>Квартири</a></li>
            <li><a class="nav-link" href="/residents"><span data-height="20" class="iconify" data-icon="mdi:account-group" data-inline="false"></span>Мешканці</a></li>
            <li><a class="nav-link" href="/tariffsAndservices"><span data-height="20" class="iconify" data-icon="ic:round-miscellaneous-services" data-inline="false"></span>Тарифи та послуги</a></li>
            <li><a class="nav-link" href="/news"><span data-height="20" class="iconify" data-icon="mdi:newspaper" data-inline="false"></span>Новини</a></li>
            <li><a class="nav-link" href="/contacts"><span data-height="20" class="iconify" data-icon="mdi:contacts" data-inline="false"></span>Контакти</a></li>
            <li><a class="nav-link" href="/announcements"><span data-height="20" class="iconify" data-icon="ic:baseline-announcement" data-inline="false"></span>Оголошення</a></li>
            <li><a class="nav-link" href="/poll"><span data-height="20" class="iconify" data-icon="ri:chat-poll-fill" data-inline="false"></span>Опитування</a></li>
          </div>
        </div>
      </nav>
</header>