
    <div class="form-group">
        <label for="title">Назва ОСББ</label>
        <input class="form-control" type="text" name="title" required <% announcements.title %>>
    </div>
    <div class="form-group">
        <label for="text">Текст</label>
        <textarea name="text" type="textarea" id="tinymce"><% announcements.text %> </textarea>
    </div>
    