<form  action="/announcements/update" method="POST">
    <div>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-outline-secondary" href="/announcements">Cancel</a>
    </div>
</form>
