<form  action="/announcements" method="POST">
    <div>
        <h2>Оголошення</h2>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Створити</button>
        <a class="btn btn-outline-secondary" href="/announcements">Скасувати</a>
    </div>
</form>
