<div>

    <h1 class="d-flex justify-content-center">Адміністрування сайту</h1>
    <p>
        Сайт вже наповнений базовими прикладами, їх можна редагувати, видалити і додавати свою інформацію. Для цього
        використовуйте пункти меню розташовані з лівого боку.

        Розділ "Оголошення" можна використовувати для будь-якої важливої і постійної інформації, наприклад оплачуйте до
        10 числа місяця.

        А в розділі "Управління новинами" можна інформувати про поточні актуальні речі, наприклад, що планується ремонт
        трубопроводу і тимчасове відключення подачі води, а так само будь-які інші зміни в діяльності будинку.

        У розділі "Документи і звітність" можна розміщувати всі статутні документи, протоколи зборів, фінансові плани,
        кошториси та звіти про витрати, списки проведених ремонтних робіт, договори з підрядниками, дозвільні документи
        та ін.

        У розділі "Послуги та тарифи" вже інтегрований віджет для автоматичного відображення доданих в систему послуг з
        підгрупами і тарифами, ви так само можете додати на цю сторінку будь-які тексти, коментарі та інформацію про
        додаткові послуги, які не присутні в тарифі для нарахувань в системі iDom.
    </p>
    <h2>Для зручності зберігання і завантаження документів, радимо:</h2>
    <p>
        1. Конвертувати скани документів з формату TIFF в JPG
        
        Онлайн сервіс https://convertio.co/ru/tiff-jpg/
        
        2. Стиснути PNG і JPG картинки, щоб вони займали менше місця
        
        Онлайн сервіс https://tinypng.com/ та https://tinyjpg.com/
        
        3. Документи складаються з декількох JPG картинок, наприклад статут або протоколи зборів, радимо об'єднати в PDF документ з розміром до 7 МБайт. Наприклад зі статуту в 20 сторінок в форматі JPG з 300 КБ кожна, вийде один PDF документ розміром 6 Мбайт.
        
        Онлайн сервіс http://smallpdf.com/
        </p>
</div>