:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
    margin: 20px;
}

* {
    padding: 2px;   
}


.user_Frame {
    border: 2px solid black;
    padding: 15px;
}

.avatarImg {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.topNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topNav li {
    display: inline;
    float: left;
}

.topNav a {
    margin: 20px;
}

.register_form_field input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.register_form_field input[type=text]:focus {
    border: 3px solid #f1f1f1;
}

.register_form_field select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}




.btn-submit {
    background-color: #f1f1f1;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-submit2 {
    background-color: #f1f1f1;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #f1f1f1;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    list-style-type: none;
    color: black;
}