:root {
    font-family: 'Gotham Rounded';
    font-size: 16px;
    color: var(--color-text-light);
    margin: 20px;
}

* {
    padding: 2px;   
}

.iconify[data-icon='mdi:passport'] {
    color: rgb(121, 121, 121);
 }

 table {
     font-size: 15px;
     color: rgb(121, 121, 121);
 }