<form  action="/apartments/update" method="POST">
    <div>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Оновити</button>
        <a class="btn btn-outline-secondary" href="/apartments">Скасувати</a>
    </div>
</form>
