<form  action="/apartments" method="POST">
    <div>
        <h2>Добавте нову квартиру</h2>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-outline-secondary" href="/apartments">Cancel</a>
    </div>
</form>
