
<div class="form-group">
    <label for="tas">Тарифи та послуги</label>
    <textarea class="form-control" id="tinymce" type="textarea" name="tas" required value='<%= tas.tas %>'><%= tas.tas %></textarea>
</div>