<form action="/tariffsAndservices" method="GET">
    <div class="tablecup">
        <h2>Тарифр та послуги</h2>
    </div>
    <br>
    <%- include('_form_fields') %>
    <a class="btn btn-dark" href="/tariffsAndservices/edit" type="submit">Edit</a>
</form>