<form>
    <div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" required <%= users.name %>>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" required <% users.email %>>
        </div>
        <div class="form-group">
            <label for="number">Phone number</label>
            <input class="form-control" type="text" name="number" required <% users.number %>>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input class="form-control" type="text" name="owner" required <% users.owner %>>
        </div>
        <div class="form-group">
            <label for="receplents">Receplents</label>
            <input class="form-control" type="text" name="receplents" required <% users.receplents %>>
        </div>
        <div class="form-group">
            <label for="bill">Bill</label>
            <input class="form-control" type="number" name="bill" required <% users.bill %>>
        </div>
        <div class="form-group">
            <label for="area">Area</label>
            <input class="form-control" type="text" name="area" required <% users.area %>>
        </div>
        <div class="form-group">
            <label for="adress">Adress</label>
            <input class="form-control" type="text" name="adress" required <% users.adress %>>
        </div>
        <div class="form-group">
            <label for="benefits">Benefits</label>
            <input class="form-control" type="text" name="benefits" required <% users.benefits %>>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role">
                <option value="Админ">Админ</option>
                <option value="Житель">Житель</option>
                <option value="Бухалтер">Бухалтер</option>
            </select>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file">
            <label class="custom-file-label" for="file" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
    </div>
</form>