<form action="/users" method="GET">
    <div>
        <h2>Users</h2>
        <a class="btn-submit2" href="/users/new">Add new User</a>
        <div>
            <br>
            <% users.forEach(user => { %>
                <div class="user_Frame">
                    <div><a href="/users/<%= user.id %> "><%= user.name %> </a> 
                    <a  class="btn-submit" href="/users/<%= user.id %>/del">Delete</a>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</form>
<br>


