<form  action="/users" enctype="multipart/form-data" method="POST">
    <h2>Register a new user</h2>
    <br>
    <%- include('_form_fields') %> 
    <br>
    <button class="btn-submit" type="submit">Create</button>
    <a class="btn-cancel" href="/users">Cancel</a>
</form>