<form action="/residents/update" method="POST">
    <%- include('_form_fields') %>
    <button  class="btn btn-primary float-right" type="submit"">Оговити</button>
    <a class="btn btn-outline-secondary" href="/residents">Сквсувати</a>
</form>