<form action="/residents" method="GET">
    <div>
        <h2>Users</h2>
        <a class="btn btn-dark" href="/residents/new">Add new User</a>
        <ul class="list-group">
            <% residents.forEach(resident => { %>
                <div class="user_Frame">
                    <div class="list-group-item"><a href="/residents/<%= resident.id %> "><%= resident.pib %> </a> 
                    <a  class="btn btn-danger float-right" href="/residents/<%= resident.id %>/del">Delete</a>
                    </div>
                </div>
            <% }) %> 
        </ul>
    </div>
</form>
<br>


