<form  action="/residents" enctype="multipart/form-data" method="POST">
    <div>
        <h2>Register a new user</h2>
        <br>
        <%- include('_form_fields') %> 
        <br>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-outline-secondary" href="/residents">Cancel</a>
    </div>
</form>