<form  action="/residents" enctype="multipart/form-data" method="POST">
    <div>
        <h2>Register a new resident</h2>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Створити</button>
        <a class="btn btn-outline-secondary" href="/residents">Скасувати</a>
    </div>
</form>
