<form action="/contacts" method="POST">
    <br>
    <%- include('_form_fields') %> 
    <br>
    <button class="btn btn-primary" type="submit">Створити</button>
    <a class="btn btn-delete" href="/contacts">Скасувати</a>
</form>