
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input class="form-control" type="text" name="title" required <% myNews.title %>>
    </div>
    <div class="form-group">
        <label for="subscription">Текст новини</label>
        <textarea class="form-control" id="tinymce" type="textarea" name="subscription" required <% myNews.subscription %>></textarea>
    </div>
    <div class="form-group">
        <label for="files">Картинки</label>
        <input type="file" name="files" multiple>
    </div>