
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" required <%= sliders.title %>>
    </div>
    <div class="form-group">
        <label for="subscription">Subscription</label>
        <textarea class="form-control" type="textarea" name="subscription" required <% sliders.subscription %>></textarea>
    </div>
    <div class="form-group">
        <label for="files">Images</label>
        <input type="file" name="files" multiple>
    </div>