<form action="/news" enctype="multipart/form-data" method="POST">
    <h2>Add new slider images</h2>
    <br>
    <%- include('_form_fields') %> 
    <br>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-delete" href="/news">Cancel</a>
</form>