<form action="/news" enctype="multipart/form-data" method="POST">
    <%- include('_form_fields') %> 
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-delete" href="/news">Cancel</a>
</form>