<div class="d-flex justify-content-center">
    <div class="card mb-3 " style="max-width: 560px;">
        <div class="row no-gutters">
            <div class="col-md-4 justify-content-center">
                <% myNews.imgPath.forEach(img => { %>
                <img class="avatarImg" width="200px" height="auto" src="../<%= img %> " alt="">
                <% }) %>
            </div>
            <div 
                    <h5 class="card-title"><%= myNews.title %></h5>
                    <div><p><%- myNews.subscription %></p> </div>
            </div>
        </div>
    </div>
</div>