<form  action="/poll" method="POST">
    <div>
        <h2>Опитування</h2>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-outline-secondary" href="/poll">Cancel</a>
    </div>
</form>
