<form  action="/osbb" method="POST">
    <div>
        <%- include('_form_fields') %>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-outline-secondary" href="/osbb">Cancel</a>
    </div>
</form>